---
# vpnc style: tabs (8-wide), K&R braces, multi-line enums
BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 8
TabWidth: 8
BreakBeforeBraces: Linux
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
ColumnLimit: 0
SortIncludes: Never
KeepEmptyLinesAtTheStartOfBlocks: true
ReflowComments: Never
AlignTrailingComments: false
PenaltyBreakComment: 100000
PenaltyExcessCharacter: 1
